@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	margin: 0px;
	background-color: #222127; 
}

h1, h2, h3 {
	font-family: 'Lora', serif;
}

a {
	text-decoration: none;
	font-family: 'Roboto Slab', serif
}



.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 8px;
}
.list-inline i {
	font-size: 60px;
	color: #d55252;
}
.list-inline i:hover {
	font-size: 60px;
	color: #222127;
}





@media (max-width: 900px) {
	.container{
		width: 700px;
	}
}

@media (max-width: 500px) {
	.container{
		width: 400px;
	}
}

@media (max-width: 300px) {
	.container{
		width: 200px;
	}
}







/* card.css */

.container {
	width: 1100px;
	height: 400px;
	margin: 20px auto;
	justify-content: space-between;
	display: flex;
}


.cards {
	display: flex;
	flex-wrap: wrap;
}


.card1 {
	width: 800px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 1px 1px 1px #C0C0C0;
	border-radius: 6px;
	margin: 30px 30px 30px 30px;
	flex-basis: 500px;
	flex-grow: 1;
	text-align: right;
	background-color: #eeeeee;
}

.card2 {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 1px 1px 1px #f2f2f0;
	border-radius: 6px;
	margin: 30px 30px 30px 30px;
	flex-basis: 500px;
	flex-grow: 1;
	text-align: right;
	background-color: #f2f2f0;	
}


.photo {
	width: 400px;
	border-radius: 6px;
}

.card2 h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 30px; 
	font-family: 'Lora', serif;
	color: #d55252;
}


.btn-photo {
	font-size: 30px;
	color: #d55252;
	font-family: 'Lora', serif;

}

.btn-photo:hover {
	font-size: 30px;
	color: #222127;

}








/* banner.css */

.banner {
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,20,.2)), url(seahorse5.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
    display: flex;
    margin: 0vh 0vh 0vh 0vh;
}

#text-banner {
    width: 100%;
    height: 75vh;
    text-align: left;
    color: #eeeeee;
    font-weight: 150;
    padding: 30vh 0vh 0vh 20vh;
}


.banner h1, h2 {
    margin-left: 0px;
    margin-right: 0px;
    margin: 0vh 0vh 0vh 0vh;
    color: #222127;
}

.banner h2 {
    font-weight: 250;
    font-size: 95px;
    word-wrap: break-word;
}
